__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.bak
*.swp
.DS_Store
.env
oci_api_private_key.pem
oci_config
INSTANCE_CREATED
ERROR_IN_CONFIG.log
UNHANDLED_ERROR.log
launch_instance.log
setup_and_info.log
ai-image.jpg
LICENSE
README.md
Dockerfile
docker-compose.yml

